.section-five {
  h3 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 155px;
  }
  img {
    max-height: 500px;
    width: 1060px;
  }
  margin-bottom: 35px;
}
