@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

#root {
  background: #f6f6f6;
}

body {
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
